//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 14px;
$main-font-height: 1.57;
$main-font-weight: normal;
$main-font-color: #555;

$font: Arial, Helvetica, sans-serif;

// Variables => Colors
//----------------------------------------------------//
$default: #555;

$main: #233199;
$main-hover: #353e81;
$main-bg: #5363db;

$gray: #777;

$black: #000;
$white: #fff;