extends template/page-template

block head
    - var title = "Main page"

block content

    .wrapper

        - var fixed = true
        include ../modules/header/header.pug

        .container
            
    include ../modules/footer/footer.pug