extends template/page-template

block head
  - var title = "Main page"

block content

  .wrapper
    include ../modules/header/header

    .container
      img(src="images/cat.jpg", alt=""
      style="display: block; margin: 0 auto; max-width: 100%;")
          
  include ../modules/footer/footer